{% extends "base.html" %}

{% block title %}Дюна - Главная{% endblock %}

{% block content %}
    <h1 class="mt-5">Добро пожаловать на страницу фильма "Дюна"!</h1>
    <p class="lead">"Дюна" - это эпический научно-фантастический фильм 2021 года, режиссера Дени Вильнёва.</p>
    <img src="../static/image/dune-poster.jpg" class="img-fluid" alt="Постер Дюны">
    <p class="mt-4">Фильм является адаптацией одноименного романа Фрэнка Герберта 1965 года. Это первая часть из двух частей адаптации, охватывающая примерно первую половину книги. Действие происходит в далеком будущем, история рассказывает о Поле Атрейдесе, чья семья принимает управление пустынной планетой Арракис. Арракис является единственным источником самого ценного вещества во вселенной, "пряности", контроль над которой является предметом ожесточенной борьбы среди благородных семей. После предательства Пол должен отправиться в пустыню, чтобы найти Фременов, коренных жителей планеты, которые станут ключевыми для его выживания.</p>
{% endblock %}
